---
import Layout from '../layouts/Layout.astro';
import Content404 from "../components/404/content404.tsx";
---

<Layout title="404 No Encontrado - LETVIO DIGITAL SOLUTIONS">
  <main>
    <Content404 client:only="react" /> 
  </main>
</Layout>